body {
  margin: 0;
  padding: 30px;
  font-family: sans-serif;
}

.app-container {
  padding: 30px;
}

.header {
  background-color: tomato;
  text-align: center;
  padding: 30px;
}

.heading {
  color: #ffffff;
  margin: 0 0 20px 0;
}

.todo-input {
  padding: 10px;
  font-size: 22px;
  color: #888888;
  width: 50%;
  border: none;
  cursor: pointer;
}

.add-button {
  font-family: serif;
  font-size: 22px;
  color: #555555;
  width: 20%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.list-container {
  margin-top: 10px;
}

.list {
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 28px;
  list-style-type: none;
}

.list:nth-child(odd) {
  background-color: #777777;
}

.list:nth-child(even) {
  background-color: #aaaaaa;
}

.list .check {
  display: inline-block;
  width: 5%;
  margin-right: 20px;
}