body {
  font-family: sans-serif, serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.app-container{
  padding: 0 200px;
  text-align: center;
}

.left-pannel {
  display: inline;
}

.date {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: #ffffff;
}

.react-datepicker__input-container input {
  font-size: 22px;
  background: transparent;
  border: none;
  color: #ffffff;
  width: 50%;
}

a {
  text-decoration: none;
}

.right-pannel {
  float: right;
}

.control-bar {
  min-height: 40px;
  width: 920px;
  background-color: #2f68d3;
  border: 2px solid #022b79;
  border-radius: 4px;
  padding: 5px 10px;
}

.control {
  background-color: #d96ddd;
  border: 2px solid #200250;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.event-list {
  position: relative;
  margin-top: 10px;
  width: 900px;
  height: 85vh;
  overflow-y: auto;
  border: 2px solid #022b79;
  border-radius: 4px;
  padding: 5px 20px;
}

.event {
  position: absolute;
  border: 2px solid #2a2a2a;
  width: 86%;
  left: 86px;
  border-radius: 5px;
}

.event:nth-of-type(even) {
  color: #2a2a2a;
  background-color: #24ff24;
  opacity: 0.8;
}

.event:nth-of-type(odd) {
  color: #ffffff;
  background-color: #2525ff;
  opacity: 0.8;
}

.event:nth-of-type(even):hover, .event:nth-of-type(odd):hover {
  z-index: 1;
}

.time {
  display: inline-block;
  border: 1px solid #5a5a5a;
  width: 90%;
  min-height: 60px;
}

.calendar span {
  vertical-align: top;
}

.time-container {
  height: 60px;
}

.title {
  font-size: 18px;
  margin-right: 50px;
}

.title, .duration, .event a {
  color: #ffffff;
  margin-right: 8px;
}


.no-events {
  width: 920px;
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #019401;
  background-color: #43f02d;
  color: #0e0b0b;  
}

/* Add Event Form */
.heading {
  text-align: center;
  background-image: linear-gradient(to bottom right, yellow, #56cd23);
  border: 2px solid #200250;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}

.content {
  border: 2px solid #019401;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, yellow, #5656da);
  margin-top: 5px;
  padding: 10px;
  min-height: 400px;
}

.form-field {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.form-field input[type='text'] {
  width: 300px;
  height: 20px;
  border-radius: 4px;
  padding: 5px
}

.form-field input[type='textarea'] {
  width: 250px;
  height: 50px;
}

.form-field label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 20px;
}

.edit-del {
  float: right;
  cursor: pointer;
  padding: 5px;
}

.row {
  font-size: 22px;
  font-weight: bold;
}

.row span {
  font-size: 20px;
  font-weight: 200;
}

.cancle {
  background-color: #ff4647;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid red;
  margin-right: 40px
}

.save {
  background-color: #46ff47;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  border: 2px solid green;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.button-container {
  margin: 20px 0 0 120px ;
}