body {
  font-family: sans-serif, serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.app-container{
  padding: 0 20px;
}

.left-pannel {
  display: inline;
}

.date {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.right-pannel {
  /* display: inline; */
  float: right;
}

.control-bar {
  min-height: 40px;
  min-width: 920px;
  background-color: #2f68d3;
  border: 2px solid #022b79;
  border-radius: 4px;
  padding: 5px 10px;
}

.control {
  background-color: #d96ddd;
  border: 2px solid #200250;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.event-list {
  position: relative;
  margin-top: 10px;
  min-width: 920px;
  height: 85vh;
  overflow-y: auto;
  border: 2px solid #022b79;
  border-radius: 4px;
  padding: 5px 20px;
}

.time {
  display: inline-block;
  border: 1px solid #5a5a5a;
  width: 90%;
  min-height: 60px;
}

.calendar span {
  vertical-align: top;
}

.time-container {
  height: 60px;
}

.event {
  position: absolute;
  border: 2px solid #2a2a2a;
  width: 87%;
  left: 65px;
  border-radius: 5px;
}

.event:nth-of-type(even) {
  color: #2a2a2a;
  background-color: aquamarine;
  opacity: 0.8;
}

.event:nth-of-type(odd) {
  color: #ffffff;
  background-color: #022b79;
  opacity: 0.8;
}

.title {
  font-size: 18px;
  margin-right: 50px;
}